<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<display-name>vetweb-auth</display-name>
	
	<security-constraint>
	
		<display-name>Gerenciamento de usuários</display-name>
		
		<web-resource-collection>
			<web-resource-name>users</web-resource-name>
			<url-pattern>/usuarios/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		
		<web-resource-collection>
			<web-resource-name>perfis</web-resource-name>
			<url-pattern>/perfis/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		
		<auth-constraint>
			<role-name>ADMIN</role-name>
		</auth-constraint>
		
	</security-constraint>
	
	<login-config>
	
		<auth-method>BASIC</auth-method>
		
	</login-config>
	
</web-app>